* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Ramaraja', serif;
   background-image: url(POKERSTARS_02_POKER_TABLE_MERCHANDISE_0009.jpg);
}

h1{
    color: white;
}



.footer {
    line-height: 30px;
    bottom: 0;
    position: fixed;
    width: 100%;
    background-color: #dddbcb;
    color: black;
    text-align: center;
}

p {
    color: white;
    font-size: 25px;
    margin-top: 130px;
    padding: auto;
   
}
.container{
    display: flex;
}
#game{
    background-image: url(csm_poker-flop-pot_ff5a3bafc7.jpg);
   text-align: center;
    margin-bottom: 40px;
    background-position: center;
    background-size: cover;
    width: 250px;
    height: 250px;
    border-radius: 48px;
    margin: auto;
    color: white;



}

button{
    margin: auto;
}
